/*
  Class:    4A7B
  Name:     Vincent
  Purpose:  Eindtoets
  
  mm-dd-yyyy  Description
  ----------  -----------------------------
  7-11-2017  Initial
*/

/************************************************
 *Include the padding and border to all elements*
 ************************************************/
* {
  box-sizing: border-box;
}
/************************
 *Default setting       *
 ************************/
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 10px;
  font-size: 100%;
  font-family: 'Arial', 'Calibri', 'Helvetica';
  color: black;
}

.header {
  width: 100%;
  height: 125px;
  margin: 0;
  padding: 0px;
  background-color: blue;
  color: black;
  font-size: 1.0em;
  border: 3px solid black;
}

.header small {
  font-size: 0.75em;
}

.header img {
  float: right;
}

.subheader {
  width: 100%;
  height: 50px;
  margin: 0;
  padding: 0px;
  background-color: #63B1E5;
  color: black;
  font-size: 3.0em;
  border: 3px solid black;
  border-bottom: 3px dotted black;
}

table {
  width: 400px;
  font-size: 1.0em;
  vertical-align: top;
  border-collapse: collapse;
  text-align: left;
  font-weight: normal;
}

th, td {
  border: 1px solid black;
  vertical-align: top;
}


th {
  background-color: orange;
}

.right {
  text-align: right;
}

.red {
  text-align: right;
  color: red;
}




  